<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam obcaecati quia odio est neque repellendus commodi nesciunt saepe, at necessitatibus? Expedita explicabo laboriosam temporibus soluta neque blanditiis similique doloribus architecto.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>  email@email.com</li>
                <li><i class="fa-solid fa-phone"></i>  (00) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i>  (00) 0 0000-0000</li>
            </ul>
        </address>
    </div>
</footer>
<section class="footer__copyright">
    &COPY; Desenvolvido por Conceição Peres - 2022
    <ul>
        <li><a href="https://linkedin.com/in/conceicao-peres-da-silva" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
        <li><a href="https://github.com/conceicao-peres" target="_blank"><i class="fa-brands fa-github"></i></a></li>
        <li><a href="https://conceicao-peres.github.io/Portfolio-Conceicao/" target="_blank"><img src="assets/resume.png" alt="portifolio"></a></li>
    </ul>
</section>